.btn ul {
  font: 1em/1.4em Helvetica, Arial, sans-serif;
  background: none;
  width: auto;
  padding: 0px;
  margin: 0px;
}
.btn li {
  border-radius: 3px;
  background-color: #204060;
  position: relative;
  display: inline-block;
  list-style: none;
}

.btn ul li input[type=submit]{
	color:#fff;
}
.btn ul li input[type=submit],
.btn li a {
  padding:4px;
  color: #ccc;
  text-decoration: none;
  border-radius: 3px;
  transition: background .3s;
  cursor: pointer;
}
.btn ul li input[type=submit]:hover,
.btn li a:hover {
  color: white;
  background: #336699;
}