ul {
  font: 1em/1.4em Helvetica, Arial, sans-serif;
  background-color: #003566;
}
li {
  position: relative;
  display: inline-block;
  list-style: none;
}
li a {
  display: block;
  padding: 1em 1.5em;
  color: #ccc;
  text-decoration: none;
  border-radius: 3px;
  transition: background .3s;
}
li a:not(:only-child):after {
  content: '\21b4';
  display: inline-block;
  padding-left: .5em;
  color: black;
}
li a:hover {
  color: white;
  background: #336699;
}
.top-level {
  border-bottom: 1px solid #1a90ff;
}
.second-level,
.third-level {
  min-width: 12em;
  border: 1px solid #1a90ff;
  border-radius: 4px;
}


/*dropdown menu styles*/
/*first level*/
.top-level li:hover .second-level {
  left: 0;
}
.second-level:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 2em;
  border-bottom: 8px solid #1a90ff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.second-level {
  position: absolute;
  top: 100%;
  left: -9999em;
}
.second-level li {
  position: relative;
  display: block;
}
.second-level li a {
  margin: 0;
}

/*second level*/
.second-level li:hover .third-level {
  left: 100%;
}
.third-level:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -8px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #1a90ff;
}
.third-level {
  position: absolute;
  left: -9999em;
  top: 0;
}