* {
  box-sizing: border-box;
}
body {
  background: steelblue;
  font-family: "Open Sans", arial;
}
table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 40px 40px 20px 40px auto;
  background: white;
}
th {
  background: steelblue;
  height: 54px;
  width: 10%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  width: 10%;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
.main {
  max-width: 80%;
  padding: 10px;
  margin: auto;
}
.content {
  color: white;
  text-align: center;
}

#myInput {
  background-image: url("/ad/img/search.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#add{
	text-align:center;
	padding-bottom: 8px;
	max-width: 100%;
	max-height: 100%;
}

td.edit:hover{animation:fullScale 5s;}
@keyframe fullScale{
    from{
        background: steelblue;
    }
    to{
        background: green;
    }
}